<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?if $(var.Platform) = x64?>
		<?define PlatformProgramFilesFolder="ProgramFiles64Folder"?>
	<?else?>
		<?define PlatformProgramFilesFolder="ProgramFilesFolder"?>
	<?endif?>
	
	<?define MSM="C:\Program Files (x86)\Common Files\Merge Modules\"?>
	<Product Id="*" Name="SetupMfcApp" Version="1.0.0.0" Manufacturer="Tocchann" UpgradeCode="1bcb73e2-0b21-4353-920e-c1ba8501db62" Codepage="932" Language="1041">
		<Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" SummaryCodepage="932" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SetupMfcApp" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<!--<FeatureRef Id="VCRuntime.$(var.Platform)" />-->
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="INSTALLFOLDER" Name="MfcApp" />
			</Directory>
			<Directory Id="ProgramMenuFolder" SourceName="Menu">
				<Directory Id="MenuApp" Name="MfcApp"/>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="MfcApp.exe" Guid="BD4CE6BD-DC78-47A8-8C94-BA771A126DD6">
				<File Source="$(var.MfcApp.TargetPath)" KeyPath="yes" />
				<ProgId Id="MfcApp.Document" Description="MfcApp ファイル" Icon="MfcAppDoc.ico" Advertise="yes">
					<Extension Id="mfcapp" Advertise="yes">
						<Verb Id="Open" Argument="&quot;%1&quot;" />
					</Extension>
				</ProgId>
				<Shortcut Id="MfcApp.exe" Name="MfcApp" Description="MFCアプリ" Advertise="yes" Icon="MfcApp.ico" Directory="MenuApp" />
				<RemoveFolder Id="RemoveDir.MenuApp" Directory="MenuApp" On="uninstall" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<Icon Id="MfcApp.ico" SourceFile="$(var.MfcApp.ProjectDir)res\MfcApp.ico" />
		<Icon Id="MfcAppDoc.ico" SourceFile="$(var.MfcApp.ProjectDir)res\MfcAppDoc.ico" />
	</Fragment>
	<!--x86用-->
	<Fragment>
		<DirectoryRef Id="TARGETDIR" DiskId="1">
			<?ifdef Debug?>
				<Merge Id="Microsoft_VC140_CRT_x86" SourceFile="$(var.MSM)Microsoft_VC140_DebugCRT_x86.msm" Language="0" />
				<Merge Id="Microsoft_VC140_MFC_x86" SourceFile="$(var.MSM)Microsoft_VC140_DebugMFC_x86.msm" Language="0" />
			<?else?>
				<Merge Id="Microsoft_VC140_CRT_x86" SourceFile="$(var.MSM)Microsoft_VC140_CRT_x86.msm" Language="0" />
				<Merge Id="Microsoft_VC140_MFC_x86" SourceFile="$(var.MSM)Microsoft_VC140_MFC_x86.msm" Language="0" />
			<?endif?>
			<Merge Id="Microsoft_VC140_MFCLOC_x86" SourceFile="$(var.MSM)Microsoft_VC140_MFCLOC_x86.msm" Language="0" />
		</DirectoryRef>
		<Feature Id="VCRuntime.x86" Title="VC Runtime (x86)" Level="1">
			<MergeRef Id="Microsoft_VC140_CRT_x86" />
			<MergeRef Id="Microsoft_VC140_MFC_x86" />
			<MergeRef Id="Microsoft_VC140_MFCLOC_x86" />
		</Feature>
	</Fragment>
	<!--x64用-->
	<Fragment>
		<DirectoryRef Id="TARGETDIR" DiskId="1">
			<?ifdef Debug?>
				<Merge Id="Microsoft_VC140_CRT_x64" SourceFile="$(var.MSM)Microsoft_VC140_DebugCRT_x64.msm" Language="0" />
				<Merge Id="Microsoft_VC140_MFC_x64" SourceFile="$(var.MSM)Microsoft_VC140_DebugMFC_x64.msm" Language="0" />
			<?else?>
				<Merge Id="Microsoft_VC140_CRT_x64" SourceFile="$(var.MSM)Microsoft_VC140_CRT_x64.msm" Language="0" />
				<Merge Id="Microsoft_VC140_MFC_x64" SourceFile="$(var.MSM)Microsoft_VC140_MFC_x64.msm" Language="0" />
			<?endif?>
			<Merge Id="Microsoft_VC140_MFCLOC_x64" SourceFile="$(var.MSM)Microsoft_VC140_MFCLOC_x64.msm" Language="0" />
		</DirectoryRef>
		<Feature Id="VCRuntime.x64" Title="VC Runtime (x64)" Level="1">
			<MergeRef Id="Microsoft_VC140_CRT_x64" />
			<MergeRef Id="Microsoft_VC140_MFC_x64" />
			<MergeRef Id="Microsoft_VC140_MFCLOC_x64" />
		</Feature>
	</Fragment>
</Wix>